<main class="container mt-5">
    <h2>Catálogo de Livros</h2>
    <table class="table">
      <thead class="table-dark text-white">
        <tr>
          <th>Título</th>
          <th>Resumo</th>
          <th>Editora</th>
          <th>Autores</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of livros">
            <td class="titulo">
              <div class="titulo">{{ livro.titulo }}<br>
                <button class="btn btn-danger" (click)="excluir(livro.codigo)">Excluir</button>
              </div>
            </td>
          <td>{{ livro.resumo }}</td>
          <td>{{ obterNome(livro.codEditora) }}</td>
          <td>
            <ul>
              <li *ngFor="let autor of livro.autores">{{ autor }}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </main>